.root {
    -title-color: #100c14;
    -background-color: #0f111a;
    -text-color: #c3cee3;
    -background-selected-color: #222533;
    -button-color: #191a21;
    -disabled-color: #464b5d;
    -selected-button-color: #21242f;
    -highlight-color: #23273e;
    -separator-color: #3b3f51;
    -accent-color: #84ffff;
}


/*
GENERAL CONTAINERS
 */
.main-container, .sub-container, .list-cell {
    -fx-background-color: -background-color;
    -fx-background-insets: 0;
}

.label {
    -fx-text-fill: -text-color;
}

.text {
    -fx-fill: -text-color;
}


/*
TOP PANEL
 */


.menu-bar {
    -fx-background-color: -title-color;
    -fx-background-insets: 0;
}

.menu:hover, .menu:showing {
    -fx-background-color: -background-selected-color;
}

.context-menu {
    -fx-background-color: -background-color;
}

.menu-item {
    -fx-background-color: -background-color;
}

.menu-item:hover, .menu-item:selected {
    -fx-background-color: -background-selected-color;
}

.dash {
    -fx-background-color: -title-color;
    -fx-graphic: url(../Resources/images/dash.png);
    -fx-background-radius: 0;
}

.dash:hover {
    -fx-background-color: -background-selected-color;
}

.cross {
    -fx-background-color: -title-color;
    -fx-graphic: url(../Resources/images/cross.png);
    -fx-background-radius: 0;
}

.cross:hover {
    -fx-background-color: red;
}


/*
LEFT PANEL
 */


.titled-pane {
    -fx-background-insets: 0;
    -fx-text-fill: -text-color;
}

.titled-pane > .title {
    -fx-background-color: -background-color;
    -fx-text-fill: #d0d4ec;
    -fx-background-insets: 0;
}

.titled-pane:focused > .title {
    -fx-background-color: -background-selected-color;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-effect: null;
    -fx-background-color: -text-color;
    -fx-background-insets: 0;
    -fx-shape: "M 186.26367 158.52734 C 164.65398 158.34069 143.14729 167.48481 128.10742 185.40625 C 101.36987 217.26659 105.49513 264.44214 137.35547 291.17969 L 336.12695 457.99023 C 349.52591 469.23479 365.63224 474.99825 381.78906 475.55859 C 381.91861 475.56393 382.04815 475.5676 382.17773 475.57227 C 382.99762 475.59645 383.81704 475.61207 384.63672 475.60938 C 385.45575 475.61204 386.27452 475.59643 387.09375 475.57227 C 387.22333 475.5676 387.35287 475.56393 387.48242 475.55859 C 403.63924 474.99825 419.74557 469.23479 433.14453 457.99023 L 631.91602 291.17969 C 663.77635 264.44214 667.90161 217.26659 641.16406 185.40625 C 614.42651 153.54591 567.25096 149.42261 535.39062 176.16016 L 384.63672 302.67383 L 233.88086 176.16016 C 219.94196 164.46248 203.07121 158.67252 186.26367 158.52734 z ";
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: -text-color;
    -fx-background-insets: 0;
}

.titled-pane > .content {
    -fx-padding: 0 -1 -1 -1;
}

.list-cell:selected {
    -fx-background-color: -background-selected-color;
}

.visibility-button {
    -fx-background-color: transparent;
    -fx-background-image: url(../Resources/images/visible.png);
    -fx-background-size: 25px, 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-pref-width: 25px;
}

.visibility-button:selected {
    -fx-background-image: url(../Resources/images/invisible.png);
}


/*
BOTTOM PANEL
 */


.component-button {
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;

    -fx-background-color: -button-color;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.component-button:hover, .component-button:selected {
    -fx-background-color: -selected-button-color;
}


/*
RIGHT PANEL
 */


.region {
    -fx-background-color: -background-selected-color;
}

.color-picker {
    -fx-background-color: -highlight-color;
}

.mfx-text-field {
    -fx-text-fill: -text-color;
    -mfx-unfocused-line-color: -highlight-color;
    -mfx-line-color: -accent-color;
}

.mfx-text-field:disabled {
    -mfx-line-color: -disabled-color;
    -mfx-unfocused-line-color: -disabled-color;
}

.color-picker {
    -fx-background-color: -highlight-color;
}

.color-picker > .arrow-button .arrow {
    -fx-effect: null;
    -fx-background-color: -text-color;
    -fx-background-insets: 0;
    -fx-rotate: 90;
    -fx-shape: "M 186.26367 158.52734 C 164.65398 158.34069 143.14729 167.48481 128.10742 185.40625 C 101.36987 217.26659 105.49513 264.44214 137.35547 291.17969 L 336.12695 457.99023 C 349.52591 469.23479 365.63224 474.99825 381.78906 475.55859 C 381.91861 475.56393 382.04815 475.5676 382.17773 475.57227 C 382.99762 475.59645 383.81704 475.61207 384.63672 475.60938 C 385.45575 475.61204 386.27452 475.59643 387.09375 475.57227 C 387.22333 475.5676 387.35287 475.56393 387.48242 475.55859 C 403.63924 474.99825 419.74557 469.23479 433.14453 457.99023 L 631.91602 291.17969 C 663.77635 264.44214 667.90161 217.26659 641.16406 185.40625 C 614.42651 153.54591 567.25096 149.42261 535.39062 176.16016 L 384.63672 302.67383 L 233.88086 176.16016 C 219.94196 164.46248 203.07121 158.67252 186.26367 158.52734 z ";
}

.color-picker > .arrow-button .arrow {
    -fx-background-color: -text-color;
    -fx-background-insets: 0;
}

.color-picker .color-palette {
    -fx-background-color: -background-selected-color;
}

.color-picker:showing .arrow-button .arrow {
    -fx-rotate: 0;
}